/* CHARTS */
.charts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 10px;
}

.chart-box {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 10px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔥 IMPORTANT: allow proper scaling */
.chart-box canvas {
  width: 100% !important;
  height: auto !important;
}
