<nav class="navbar">
  <div class="nav-container">

    <h1 class="logo">KIKA </h1>

    <div class="nav-links">

<a href="index.html" class="nav-tab active">Homey</a>

  <a href="intrend.html" class="nav-tab">In Trend</a>

<div class="dropdown">
  <a href="breakouts.html" class="nav-tab">Breakouts</a>

  <div class="dropdown-menu">
    <a href="Breakout-March26.html" class="dropdown-item">Breakout-March26</a>
    <a href="Breakout_May26.html" class="dropdown-item">Breakout-May26</a>
  </div>
</div>

      <!-- DROPDOWN -->
      <div class="dropdown">
        <button class="nav-tab dropdown-toggle">ETFs ▾</button>
        <div class="dropdown-menu">
          <button data-tab="etf-tech">ETF-March26</button>
          <button data-tab="etf-energy">ETF-May26</button>
        </div>
      </div>

      <button class="nav-tab" data-tab="darvis">Darvis</button>

      <button class="nav-tab" data-tab="contact">Contact</button>

    </div>

  </div>
</nav>
