<nav class="navbar">
  <div class="nav-container">

    <h1 class="logo">KIKA </h1>

    <div class="nav-links">

  <a href="index.html" class="nav-tab active">Home</a>

  <a href="intrend.html" class="nav-tab">In Trend</a>

  <!-- BREAKOUTS -->
  <div class="dropdown">
    <a href="breakouts.html" class="nav-tab">Breakouts ▾</a>
    <div class="dropdown-menu">
      <a href="Breakout-March26.html" class="dropdown-item">Breakout-March26</a>
      <a href="Breakout_May26.html" class="dropdown-item">Breakout-May26</a>
    </div>
  </div>

  <!-- ETFs -->
  <div class="dropdown">
    <a href="etfs.html" class="nav-tab">ETFs ▾</a>
    <div class="dropdown-menu">
      <a href="ETF-March26.html" class="dropdown-item">ETF-March26</a>
      <a href="ETF-May26.html" class="dropdown-item">ETF-May26</a>
    </div>
  </div>

  <a href="darvis.html" class="nav-tab">Darvis</a>

  <a href="contact.html" class="nav-tab">Contact</a>
</div>
</div>
</nav>
